{% extends 'base.html' %}

{% block title %}
  {{ user.username }} profile
{% endblock %}

{% block content %}
  <div class="container mx-auto mt-5">
    {% include "_partials/flashes.html" %}

    <div class="grid grid-cols-1 md:grid-cols-2 mt-4">
      <div class="w-full max-w-md mx-auto px-3">
        <div
          class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
          <div class="flex flex-col items-center pb-10 pt-4">
            {% if user.profile.picture != "default.png" %}
              <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="{{ url_for('profile.profile_picture', filename=user.profile.picture ) }}"
                 alt="{{ user.username }} profile picture" />
            {% else %}
              <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="{{ url_for('static', filename='img/default.png') }}"
                alt="{{ user.username }} profile picture">
            {% endif %}
            <h5 class="mb-1 text-xl font-medium text-gray-900">
              {{ user.profile.first_name }} {{ user.profile.last_name }}
            </h5>
            <span class="text-sm text-gray-500">@{{ user.username }}</span>

              <div class="flex mt-4 space-x-3 md:mt-6">
                <a href="{{ url_for('profile.edit', profile_id=user.profile.id) }}"
                   class="inline-flex w-full items-center py-2 px-4 text-sm font-medium text-center text-white bg-violet-400 hover:bg-violet-500 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center cursor-pointer">
                  Edit <i class="fa-solid fa-pen ml-1.5"></i>
                </a>

              </div>
            

            {% if current_user.profile.picture != 'default.png' %}
            <div class="inline-flex ml-3 mt-3 font-semibold">
              <button data-picture-url="{{ url_for('profile.delete_profile_picture', profile_id=user.profile.id ) }}"
                class="inline-flex w-full items-center py-2 px-4 text-sm font-medium text-center text-white bg-violet-400 hover:bg-violet-500 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center cursor-pointer">
                Delete Picture
                <i class="fa-solid fa-xmark ml-3"></i>
              </button>
            </div>
            {% endif %}
          </div>

        </div>
    </div>

  </div>
{% endblock %}

{% block scripts %}
  <script>
    
    const pictureBtns = Array.from(document.querySelectorAll("[data-picture-url]"));
      pictureBtns.forEach(btn => {
        btn.addEventListener("click", () => {
          if (confirm("Do you really want to delete your profile picture?")) {
          const url = btn.getAttribute("data-picture-url");
          if (url !== "") {
            fetch(url, {
              method: "DELETE"
            }).then(res => {
              window.location.reload();
            });
          }
        }
        });
      });

  </script>
{% endblock %}
